{% extends "./base_index.html" %}

<title>{% block title %}LAB-EXPRESS | Crear Usuario{% endblock %}</title>

{% block content %}
<h5 class="card-title">Registro de Usuario</h5>

  <div class="row">
    <div class="col">
    </div>
    <div class="col">
    
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="user_firstname">
      
        <label for="lastname">Apellido:</label>
        <input type="text" id="lastname" name="user_lastname">
      
        <label for="mail">Correo electrónico:</label>
        <input type="email" id="mail" name="user_mail">
      
        <label for="address">Dirección:</label>
        <input type="text" id="address" name="user_address">
      
        <button name="button">Guardar</button>

    </div>
    <div class="col">

        <label for="number1">Telefono:</label>
        <input type="int" id="number1" name="user_number1">
      
        <label for="number">Numero:</label>
        <input type="int" id="number" name="user_number">
              
        <label for="pass">Constraseña:</label>
        <input type="text" id="pass" name="user_password">
    
        <label for="datereg">Fecha de Registro:</label>
        <input type="date" id="datereg" name="user_datreg">

        <label for="usact">Usuario Activo</label>
        <input type="checkbox" id="usact" name="user_act">

        <button name="button">Cancelar</button>
    </div>
    <div class="col">
    </div>

{% endblock %}