{% extends "./base_index.html" %}

<title>{% block title %}LAB-EXPRESS | Equipos{% endblock %}</title>

{% block content %}
<main>
  <div>
    <h1>Resumen de Equipos</h1>
    <hr style="color:transparent">
    <div>
      <a href="{% url 'create_device'%}">
        <button class="w-20 btn btn-md btn-primary" style="background-color: black; border-color: #1d1d1b;">Nuevo Equipo</button>
      </a>
    </div>
  </div>
  <hr style="color:transparent">

  <div>
    <table class="table" style="background-color: white;">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Numero de serie</th>    
          <th scope="col">Tipon de equipo</th>     
          <th scope="col">Marca</th>      
          <th scope="col">Modelo</th>
          <th scope="col">Acciones</th>
          <th scope="col"></th>
        </tr>  
      </thead>  
      <tbody>   
        {%  for device in devices %}  
        <tr>
          <th scope="row" >{{ device.serial }}</th>  
          <td>{{ device.category }}</td>  
          <td>{{ device.brand }}</td>  
          <td>{{ device.product }}</td>
          <td>
            <a href="">
              <button class="w-20 btn btn-sm btn-primary" type="submit" style="background-color: black; border-color: #1d1d1b;">Editar</button>
            </a>
          </td>  
          <td>
            <a href="">
              <button class="w-20 btn btn-sm btn-primary" type="submit" style="background-color: black; border-color: #1d1d1b;">Eliminar</button>
            </a>
          </td>    
        </tr>   
        {% endfor %}    
      </tbody>
    </table>  
  </div>
</main>
{% endblock %}